@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicamos la textura de arena a todo el sitio */
body {
  @apply bg-chaski-sand text-chaski-dark bg-sand-texture;
}

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* --- QUITAR FLECHAS DE INPUTS NUMBER --- */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}